<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthEase</title>
    <link rel="stylesheet" href="/views/styles/style.css">
</head>

<body>

    <h1>HealthEase</h1>
    <% if (locals.data) { %>
        <h2>Greetings, <%= locals.data %></h2>
    <% } %>
</body>

</html>